:host {
    form {
        display: flex;
        flex-direction: column;
        margin: 50px;

        .input-group {
            display: flex;
            flex-direction: column;
            position: relative;

            label {
                font-size: 0.8rem !important;
                color: grey;
                margin-bottom: 2px;
                font-size: 16px;
            }

            input {
                font-size: 2.5rem;
                padding: 15px 15px;
                border-radius: 5px;
                background: #fbfbfb;
                text-indent: 20px;
                border: 2px solid transparent;
                box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
                
                :focus{
                    border: 2px solid #000;
                    border-radius: 4px;
                }
            }

            .currency {
                position: absolute;
                right: 10px;
                color: grey;
                top: 35px;
                font-size: 2.5rem;
            }

            .positive-or-negative {
                position: absolute;
                left: 10px;
                color: grey;
                top: 35px;
                font-size: 2.5rem;
            }

            &:not(:first-child) {
                margin-top: 25px;
            }
        }

        
    }

    .result {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        text-align: center;
        width: 100%;
        padding: 50px;
        
        .text {
            font-size: 2.5rem;
        }

        .label {
            font-size: 0.8rem;
            color: grey;
        }
    }
}